<div class="container-lg">
    <div class="deck-modify-row">
        <div class="deck-modify-container">
            <div class="">
                <p>Deck Name:</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="deck-modify-container">
            <div class="">
                <p>Leader:</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="deck-modify-container">
            <div class="">
                <p>Format:</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="deck-modify-container">
            <div class="">
                <p>Card Condition:</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="deck-modify-container">
            <div class="">
                <p>Desc:</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="deck-modify-container">
            <div class="">
                <p>Note:</p>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    </div>
