<div class="container-lg">
    <app-card-list></app-card-list>
</div>


<div class="deckCard deckClose" id="deckbar">

    <div class="cardlist"  [ngStyle]="{'margin-top.px': cardService.deckListMargin, 
'height.px': cardService.deckListHeight}">
<a href="javascript:void(0)" class="closebtn" (click)="closeDeck()"><i class="fas fa-times-circle"></i></a>
        <button class="btn btn-success save-btn" (click)="deckService.saveUserDeck()"> SAVE </button>
        <h3>{{cardService.deckSelected.deck.name}}</h3>
        <div class="leader"></div>
        <div *ngFor="let userCard of cardService.deckSelected.cardList" class="deck-card-row">
            <div class="minus" (click)="deckService.remove(userCard)">
                <i class=" fas fa-minus"></i>
            </div>
            <div class="deck-card-row-inner">
                <div class="deck-card deck-card-Red" (click)="cardService.openView(userCard.card)">
                    {{userCard.card.setId.substring(0,3) + '-' + userCard.card.number + ' ' + userCard.card.name}}
                </div>
                <div class="deck-card-number">
                    {{userCard.qtyOwned + '/' + userCard.qtyRequired}}
                </div>
            </div>
            <div class="plus" (click)="deckService.add(userCard)">
                <i class=" fas fa-plus"></i>
            </div>
        </div>
    </div>
</div>