<div class="container-lg">
    <app-card-list></app-card-list>
</div>


<div class="cardlist">
    <h3>Nome Deck</h3>
    <div class="leader"></div>
    <div class="deck-card-row" (click)="cardService.openView(carddet.card)">
        <div class="minus">
            <i class=" fas fa-minus"></i>
        </div>
        <div class="deck-card deck-card-Red">
            ST01-025 RORONOA ZORO
        </div>
        <div class="deck-card-number">
            4
        </div>
        <div class="plus">
            <i class=" fas fa-plus"></i>
        </div>
    </div>

</div>