.cardlist {
  height: 100%;
  /* 100% Full-height */
  width: 20%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: rgba(17, 17, 17, 0.26);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.cardlist h3 {
  color: white;
}

.deck-card-row {
  flex-direction: row;
  display: flex;
  margin: 5%;
}

.deck-card {
  text-align: center;
  width: 70%;
  background-color: white;
  border-radius: 5px 0 0 5px;
}

.deck-card-Red {
  background: linear-gradient(90deg, rgba(var(--red), 0.8) 90%, rgba(var(--black), 0.7));
}

.deck-card-number {
  text-align: center;
  width: 10%;
  background-color: black;
  color: white;
  border-radius: 0 5px 5px 0;
}

.deck-card-img {
  position: fixed;
  top: 0;
  left: 0;
}

.minus {
  width: 7%;
  margin-right: 3%;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.plus {
  width: 7%;
  margin-left: 3%;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 5px;
}