h1,h3{
    color: aliceblue;
    text-align: center;
}
.loading{
    display: flex;
    margin: auto;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.set-card{
    width: 25%;
    padding: 1%;
}