<div class="button-row">
    <div class="card-button text-center">
        <button *ngIf="router.url.includes('Classic') && cardDet.qty <= 0" class="btn btn-dark" (click)="cardService.addClassic(cardDet)"> <i class="fas fa-plus"></i></button>
        <button *ngIf="router.url.includes('Classic') && cardDet.qty > 0" class="btn btn-dark" (click)="cardService.removeClassic(cardDet)"> <i class="fas fa-minus"></i></button>
        <button *ngIf="router.url.includes('Details')" class="btn btn-dark" (click)="cardService.openAdd(cardDet)"> <i class="fas fa-bars"></i></button>
        <button *ngIf="cardService.isDeck" class="btn btn-dark" (click)="deckService.create(cardDet)"> <i class="fas fa-plus"></i></button>
    </div>
    <div class="card-button text-center">
        <form ngNoForm
            action="{{'https://www.ebay.it/sch/onepiece tcg ' + cardDet.card.name+ ' ' + cardDet.card.number.substring(0,3)}}"
            target="_blank">
            <button class="btn btn-dark" type="submit">
                <i class="fas fa-shopping-cart"></i>
            </button>
        </form>
    </div>
    <div class="card-button text-center">
        <button *ngIf="!cardService.isDeck" (click)="cardService.openView(cardDet.card);" class="btn btn-dark">
            <i class="fas fa-image"></i>
        </button>
        <button *ngIf="cardService.isDeck" class="btn btn-dark" (click)="deckService.removeDet(cardDet)"> <i class="fas fa-minus"></i></button>
    </div>
</div>


